@model AzmoonSaz.ViewModels.User.AddStudentByTeacherViewModel

@{
    ViewData["Title"] = "Create";
    Layout = null;
}

<h4>افزودن دانش آموز به کلاس</h4>
<hr />
<div class="row">
    <div class="col-10 offset-1">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="ClassId" />
            
            <div class="alert alert-warning">
                با وارد کردن نام کاربری ,کاربری با نام کاربری , کلمه عبور وارد شده ایجاد خواهد شد
            </div>

            <div class="form-group">
                <input type="submit" value="افزودن" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

