@{
    ViewData["Title"] = "آزمون ساز آنلاین";
}


<div class="home-main-menu col-12">

    <a href="#4">
        <div class="menu-item">
            <div class="m-main">
                <div class="ball">
                </div>

                <p>
                    <img src="~/SiteRefrences/images/classs.png" alt=""> ایجاد کلاس جدید
                </p>

            </div>
        </div>
    </a>

    <a href="#3">
        <div class="menu-item">
            <div class="m-main">
                <div class="ball">
                </div>
                <p>
                    <img src="~/SiteRefrences/images/document.png" alt=""> ایجاد آزمون جدید
                </p>
            </div>
        </div>
    </a>

    <a href="#2">
        <div class="menu-item">
            <div class="m-main">
                <div class="ball">
                </div>
                <p>
                    <img src="~/SiteRefrences/images/list2.png" alt=""> آزمون های من
                </p>
            </div>
        </div>
    </a>

    <a href="#1">
        <div class="menu-item">
            <div class="m-main">
                <div class="ball">
                </div>
                <p>
                    <img src="~/SiteRefrences/images/Users.png" alt=""> کلاس های من
                </p>
            </div>
        </div>
    </a>

</div>

<div class="home-tables">
    <article class="home-item m-shadow">
        <h2>آزمون های ایجاد شده من</h2>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>123</th>
                    <th>123</th>
                    <th>123</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>123</td>
                    <td>123</td>
                    <td>123</td>
                </tr>
            </tbody>
        </table>
        <a href="#" class="btn btn-success">
            بیشتر...
        </a>
    </article>

    <article class="home-item m-shadow">
        <h2>آزمون های غیر فعال من</h2>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>123</th>
                    <th>123</th>
                    <th>123</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>123</td>
                    <td>123</td>
                    <td>123</td>
                </tr>
            </tbody>
        </table>
        <a href="#" class="btn btn-success">
            بیشتر...
        </a>
    </article>

    <article class="home-item m-shadow">
        <h2>آزمون های پیش روی من</h2>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>123</th>
                    <th>123</th>
                    <th>123</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>123</td>
                    <td>123</td>
                    <td>123</td>
                </tr>
            </tbody>
        </table>
        <a href="#" class="btn btn-success">
            بیشتر...
        </a>

    </article>

    <article class="home-item m-shadow">
        <h2>آزمون های پایان یافته</h2>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>123</th>
                    <th>123</th>
                    <th>123</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>123</td>
                    <td>123</td>
                    <td>123</td>
                </tr>
            </tbody>
        </table>
        <a href="#" class="btn btn-success">
            بیشتر...
        </a>
    </article>
</div>
