<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/SiteRefrences/css/Azmoon.css" rel="stylesheet" />
    <link href="~/SiteRefrences/css/index.css" rel="stylesheet" />
</head>
<body>

    <header>
        <ul class="top-menu">
            <li>
                <a href="">خانه</a>
            </li>
            @if (User.Identity.IsAuthenticated)
            {
                <li>
                    <a href="/Im">خوش امدی @User.Identity.Name</a>
                </li>
                <li>
                    <a href="/Signout">خروج</a>
                </li>
            }
            else
            {
                <li>
                    <a href="/Login">ورود</a>
                </li>
                <li>
                    <a href="/Signup">ثبت نام</a>
                </li>
            }
        </ul>
    </header>
    <div class="container">
        <main class="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/SiteRefrences/js/index.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
