.top-menu li a {
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    color: gold;
    font-size: 25px;
}

    .top-menu li a:hover {
        background-color: rgb(53, 8, 255);
    }

.top-menu li {
    display: inline-block;
}

.top-menu {
    text-align: right;
    background-color: rgb(82, 58, 185);
    direction: rtl;
}

.home-item {
    padding: 20px;
    border-radius: 20px;
    margin: 100px 0;
}

    .home-item h2 {
        text-align: right;
        direction: rtl;
        padding: 10px;
    }

.m-shadow {
    box-shadow: 0px 0px 20px #c5c5c5;
    transition: box-shadow 1s;
}

    .m-shadow:hover {
        box-shadow: 0px 0px 80px #c2c2c2;
    }

.menu-item {
    width: 45%;
    display: inline-block;
    text-align: center;
}

    .menu-item div.m-main {
        width: 400px;
        height: 400px;
        box-shadow: -2px 2px 5px #333333;
        margin: 20px auto;
        border-radius: 30px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        transition: box-shadow 1s;
    }

@media(max-width:1200px) {
    .menu-item {
        display: block;
        margin: auto;
        width: 100%;
        text-align: center;
    }

    main.main {
        padding: 0px !important;
    }
}

.menu-item div.m-main p {
    padding: 170px 0;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.menu-item div.m-main:hover {
    box-shadow: -5px 5px 20px #333333;
}

.home-main-menu {
    text-align: center;
}

div.m-main div.ball {
    width: 0px;
    height: 0px;
    border-radius: 1000px;
    position: absolute;
    top: 200px;
    left: 200px;
    opacity: .1;
    background-color: gray;
    box-shadow: 0px 0px 50px gray;
    transition: width 1s, height 1s, top 1s, left 1s;
}

main.main {
    border: 1px solid #c2c2c2;
    padding: 40px;
    border-radius: 50px;
    box-shadow: 0px 0px 20px #c2ccc2;
    direction: rtl;
    text-align:right;
}

a {
    direction: rtl;
}

.home-main-menu a {
    color: black;
    text-decoration: none;
    padding: 0px;
    margin: 0px;
}
