@model AzmoonSaz.ViewModels.Classroom.EditClassroomViewModel

@{
    ViewData["Title"] = "ویرایش";
    Layout = null;
}

<h1>ویرایش نام</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <input asp-for="ClassId" type="hidden" class="form-control" />
            <div class="form-group">
                <input type="submit" value="ثبت" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>
